candidate sign in.json
[{"id":"2778b636.66cf9a","type":"ui_template","z":"5aa0bd02.2e4484","group":"2a0345db.2f5b7a","name":"candidate_sign_in","order":5,"width":"6","height":"6","format":"\n\n<script>\nvar myForm = document.getElementById(\"form_id\");\n\n// or overwrite value in your callback function ...\nthis.scope.action = function() { var myForm = document.getElementById(\"form_id\");\n    //Extract Each Element Value\n    var li=[];\n    for (var i = 0; i < myForm.elements.length; i++) {\n     li.push(myForm.elements[i].value);\n    }\n    return li;}\n</script>\n\n\n<form id=\"form_id\" action=\"\" style=\"border:1px solid #ccc\">\n  <div class=\"container\">\n    <h1>Sign Up </h1>\n    <p>Please fill in this form to create an account.</p>\n    <hr>\n    \n    <label for=\"name\"><b>Name</b></label>\n    <input type=\"text\" placeholder=\"Enter name\" name=\"name\" id=\"name_id\" required>\n    <br>\n\n    <label for=\"email\"><b>Email</b></label>\n    <input type=\"text\" placeholder=\"Enter Email\" name=\"email\" id=\"email_id\" required>\n    <br>\n\n    <label for=\"psw\"><b>Password</b></label>\n    <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" id=\"password_id\" required>\n    <br>\n    \n     <label for=\"number\"><b>Mobile Number</b></label>\n    <input type=\"number\" placeholder=\"Enter Mobile number\" name=\"number\" id=\"number_id\" required>\n    <br>\n    <label for=\"clg\"><b>College</b></label>\n    <input type=\"text\" placeholder=\"Enter your college name\" name=\"clg\" id=\"clg_id\" required>\n    <br>\n    \n\n    <md-button ng-click=\"send({payload:action()})\">\n     submit\n    </md-button>\n    \n    <md-button a href=\"https://node-red-xrtra.mybluemix.net/ui/#!/2?socketid=G793RAs6GXRa64fnAABC\">\n        log in\n    </md-button>\n   \n\n\n   \n  </div>\n</form> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":230,"y":60,"wires":[["cf7b3997.e2da9","c63da206.0b74"]]},{"id":"cf7b3997.e2da9","type":"debug","z":"5aa0bd02.2e4484","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":120,"wires":[]},{"id":"c63da206.0b74","type":"function","z":"5aa0bd02.2e4484","name":"","func":"msg.payload={\n   _id:msg.payload[1],\n   name:msg.payload[0],\n   email:msg.payload[1],\n   password:msg.payload[2],\n   phno:msg.payload[3],\n   clg:msg.payload[4]\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["d1d2f9a6.3b95d8"]]},{"id":"d1d2f9a6.3b95d8","type":"cloudant out","z":"5aa0bd02.2e4484","name":"","cloudant":"","database":"candidate_sign_in","service":"node-red-xrtra-cloudant-1591796663434-58838","payonly":true,"operation":"insert","x":650,"y":60,"wires":[]},{"id":"2a0345db.2f5b7a","type":"ui_group","z":"","name":"Sign in","tab":"2c006fe1.c04df8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c006fe1.c04df8","type":"ui_tab","z":"","name":"sign in","icon":"dashboard","disabled":false,"hidden":false}]