candidate details.json
[{"id":"2252dcac.93d94c","type":"ui_template","z":"5aa0bd02.2e4484","group":"db51815a.4be678","name":"candidate_details","order":0,"width":0,"height":0,"format":"\n<script>\n//var myForm = document.getElementById(\"form_id\");\nvar mydetailForm = document.getElementById(\"detailsform_id\");\n\n// or overwrite value in your callback function ...\nthis.scope.action = function() { var mydetailForm = document.getElementById(\"detailsform_id\");\n    //Extract Each Element Value\n    var deli=[];\n    for (var i = 0; i < mydetailForm.elements.length; i++) {\n     deli.push(mydetailForm.elements[i].value);\n    }\n    return deli;\n   \n}\n</script>\n\n\n<form id=\"detailsform_id\" action=\"\" style=\"border:1px solid #ccc\">\n  <div class=\"container\">\n    <h1>Candidate details</h1>\n    <p>Please fill in this form to give details about you.</p>\n    <hr>\n    \n    <label for=\"name\"><b>Name</b></label>\n    <input type=\"text\" placeholder=\"Enter name\" name=\"name\" id=\"name_id\" required>\n    <br>\n\n    <label for=\"email\"><b>Email</b></label>\n    <input type=\"text\" placeholder=\"Enter Email\" name=\"email\" id=\"email_id\" required>\n    <br>\n\n    <label for=\"experience\"><b>Year Of Experience</b></label>\n    <input type=\"number\" placeholder=\"Enter Year of experience\" name=\"experience\" id=\"exp_id\" required>\n    <br>\n    \n    <label for=\"aptitude score\"><b>Aptitude Score</b></label>\n    <input type=\"number\" placeholder=\"Enter your Aptitude Score\" name=\"apptitude_score\" id=\"ap_id\" required>\n    <br>\n    \n     <label for=\"number\"><b>Mobile Number</b></label>\n    <input type=\"number\" placeholder=\"Enter Mobile number\" name=\"number\" id=\"number_id\" required>\n    <br>\n    \n\n    <md-button ng-click=\"send({payload:action()})\">\n     submit\n    </md-button>\n   \n\n\n   \n  </div>\n</form> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":380,"wires":[["4212e685.85f7f","5d0aa536.0bf06c"]]},{"id":"4212e685.85f7f","type":"debug","z":"5aa0bd02.2e4484","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":360,"wires":[]},{"id":"5d0aa536.0bf06c","type":"function","z":"5aa0bd02.2e4484","name":"","func":"msg.payload={\n    _id:msg.payload[1],\n   name:msg.payload[0],\n   email:msg.payload[1],\n   experience:msg.payload[2],\n   apscore:msg.payload[3],\n   phno:msg.payload[4]\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["2ca8cc49.4fa124"]]},{"id":"2ca8cc49.4fa124","type":"cloudant out","z":"5aa0bd02.2e4484","name":"","cloudant":"","database":"candidate_details","service":"node-red-xrtra-cloudant-1591796663434-58838","payonly":true,"operation":"insert","x":570,"y":420,"wires":[]},{"id":"db51815a.4be678","type":"ui_group","z":"","name":"details","tab":"4bc07a06.9a74d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"4bc07a06.9a74d4","type":"ui_tab","z":"","name":"details","icon":"dashboard","disabled":false,"hidden":false}]