candidate log in.json
[{"id":"877258b1.0a22f8","type":"ui_template","z":"5aa0bd02.2e4484","group":"f568697e.e98298","name":"candidate_log_in","order":0,"width":0,"height":0,"format":"\n\n<script>\n//var myForm = document.getElementById(\"form_id\");\n\n// or overwrite value in your callback function ...\nthis.scope.action = function() { var myloginForm = document.getElementById(\"loginform_id\");\n    //Extract Each Element Value\n    var login=[];\n    for (var i = 0; i < myloginForm.elements.length; i++) {\n     login.push(myloginForm.elements[i].value);\n    }\n    return login;}\n</script>\n\n\n<form id=\"loginform_id\" action=\"\" style=\"border:1px solid #ccc\">\n  <div class=\"container\">\n    <h1>Log In </h1>\n    <p>Please fill in this form to log in.</p>\n    <hr>\n    \n    <label for=\"name\"><b>Name</b></label>\n    <input type=\"text\" placeholder=\"Enter name\" name=\"name\" id=\"name_id\" required>\n    <br>\n\n    <label for=\"email\"><b>Email</b></label>\n    <input type=\"text\" placeholder=\"Enter Email\" name=\"email\" id=\"email_id\" required>\n    <br>\n\n    <label for=\"psw\"><b>Password</b></label>\n    <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" id=\"password_id\" required>\n    <br>\n    \n    \n    \n\n    <md-button ng-click=\"send({payload:action()})\">\n     submit\n    </md-button>\n   \n\n\n   \n  </div>\n</form> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":200,"wires":[["59e8c397.d6908c"]]},{"id":"59e8c397.d6908c","type":"function","z":"5aa0bd02.2e4484","name":"","func":"//var email=msg.payload[1];\nglobal.set(\"email\",msg.payload[1]);\n//var password=msg.payload[2];\nglobal.set(\"pwd\",msg.payload[2]);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["e385a0d0.8d9f98"]]},{"id":"e385a0d0.8d9f98","type":"function","z":"5aa0bd02.2e4484","name":"","func":"var email=global.get(\"email\")\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["e09c93a8.b0d698"]]},{"id":"e09c93a8.b0d698","type":"cloudant in","z":"5aa0bd02.2e4484","name":"","cloudant":"","database":"candidate_sign_in","service":"node-red-xrtra-cloudant-1591796663434-58838","search":"_id_","design":"","index":"","x":590,"y":200,"wires":[["361ff49a.4a6154"]]},{"id":"361ff49a.4a6154","type":"function","z":"5aa0bd02.2e4484","name":"","func":"var pwd=global.get(\"pwd\");\nif(msg.payload.password==pwd){\n    msg.payload=\"login success \"\n}\nelse{\n    msg.payload=\"invalid login\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["e62b9877.0eefe8"]]},{"id":"e62b9877.0eefe8","type":"ui_text","z":"5aa0bd02.2e4484","group":"f568697e.e98298","order":1,"width":0,"height":0,"name":"","label":"Log In Status","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":280,"wires":[]},{"id":"f568697e.e98298","type":"ui_group","z":"","name":"Log in","tab":"3ce54cb1.b8419c","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ce54cb1.b8419c","type":"ui_tab","z":"","name":"Log in","icon":"dashboard","disabled":false,"hidden":false}]