recruiter sign in.json
[{"id":"5da8f7da.30a0a","type":"function","z":"5aa0bd02.2e4484","name":"","func":"msg.payload={\n   _id:msg.payload[1],\n   name:msg.payload[0],\n   email:msg.payload[1],\n   password:msg.payload[2],\n   phno:msg.payload[3],\n   company:msg.payload[4]\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["99ce8e85.dfa56"]]},{"id":"99ce8e85.dfa56","type":"cloudant out","z":"5aa0bd02.2e4484","name":"","cloudant":"","database":"recruiter_sign_in","service":"node-red-xrtra-cloudant-1591796663434-58838","payonly":true,"operation":"insert","x":550,"y":540,"wires":[]},{"id":"4a446038.274fe","type":"ui_template","z":"5aa0bd02.2e4484","group":"8f641a94.e23d28","name":"Recruiter_Sign_IN","order":0,"width":0,"height":0,"format":"\n\n<script>\n//var myForm = document.getElementById(\"form_id\");\n\n// or overwrite value in your callback function ...\nthis.scope.action = function() { var mysignForm = document.getElementById(\"recruiter_form_id\");\n    //Extract Each Element Value\n    var li=[];\n    for (var i = 0; i < mysignForm.elements.length; i++) {\n     li.push(mysignForm.elements[i].value);\n    }\n    return li;}\n</script>\n\n\n<form id=\"recruiter_form_id\" action=\"\" style=\"border:1px solid #ccc\">\n  <div class=\"container\">\n    <h1>Sign Up </h1>\n    <p>Please fill in this form to create an account.</p>\n    <hr>\n    \n    <label for=\"name\"><b>Name</b></label>\n    <input type=\"text\" placeholder=\"Enter name\" name=\"name\" id=\"name_id\" required>\n    <br>\n\n    <label for=\"email\"><b>Email</b></label>\n    <input type=\"text\" placeholder=\"Enter Email\" name=\"email\" id=\"email_id\" required>\n    <br>\n\n    <label for=\"psw\"><b>Password</b></label>\n    <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" id=\"password_id\" required>\n    <br>\n    \n     <label for=\"number\"><b>Mobile Number</b></label>\n    <input type=\"number\" placeholder=\"Enter Mobile number\" name=\"number\" id=\"number_id\" required>\n    <br>\n    <label for=\"clg\"><b>Company</b></label>\n    <input type=\"text\" placeholder=\"Enter your college name\" name=\"clg\" id=\"clg_id\" required>\n    <br>\n    \n\n    <md-button ng-click=\"send({payload:action()})\">\n     submit\n    </md-button>\n    \n    <md-button a href=\"https://node-red-xrtra.mybluemix.net/ui/#!/4?socketid=G793RAs6GXRa64fnAABC\">\n        log in\n    </md-button>\n   \n\n\n   \n  </div>\n</form> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":540,"wires":[["5da8f7da.30a0a"]]},{"id":"8f641a94.e23d28","type":"ui_group","z":"","name":"Sign In","tab":"8f6271a9.df71c","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f6271a9.df71c","type":"ui_tab","z":"","name":"Recruiter_sign_in","icon":"dashboard","disabled":false,"hidden":false}]