recruiter log in.json
[{"id":"f2eb9d2e.581318","type":"ui_template","z":"5aa0bd02.2e4484","group":"913760bd.22192","name":"recruiter_log_in","order":0,"width":0,"height":0,"format":"\n\n<script>\n//var myForm = document.getElementById(\"form_id\");\n\n// or overwrite value in your callback function ...\nthis.scope.action = function() { var myloginForm = document.getElementById(\"loginform_id\");\n    //Extract Each Element Value\n    var login=[];\n    for (var i = 0; i < myloginForm.elements.length; i++) {\n     login.push(myloginForm.elements[i].value);\n    }\n    return login;}\n</script>\n\n\n<form id=\"loginform_id\" action=\"\" style=\"border:1px solid #ccc\">\n  <div class=\"container\">\n    <h1>Log In </h1>\n    <p>Please fill in this form to log in.</p>\n    <hr>\n    \n    <label for=\"name\"><b>Name</b></label>\n    <input type=\"text\" placeholder=\"Enter name\" name=\"name\" id=\"name_id\" required>\n    <br>\n\n    <label for=\"email\"><b>Email</b></label>\n    <input type=\"text\" placeholder=\"Enter Email\" name=\"email\" id=\"email_id\" required>\n    <br>\n\n    <label for=\"psw\"><b>Password</b></label>\n    <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" id=\"password_id\" required>\n    <br>\n    \n    \n    \n\n    <md-button ng-click=\"send({payload:action()})\">\n     submit\n    </md-button>\n   \n\n\n   \n  </div>\n</form> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":660,"wires":[["b53dc677.9bc27"]]},{"id":"b53dc677.9bc27","type":"function","z":"5aa0bd02.2e4484","name":"","func":"//var email=msg.payload[1];\nglobal.set(\"remail\",msg.payload[1]);\n//var password=msg.payload[2];\nglobal.set(\"rpwd\",msg.payload[2]);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":660,"wires":[["482a8ad2.e0cdb4"]]},{"id":"482a8ad2.e0cdb4","type":"function","z":"5aa0bd02.2e4484","name":"","func":"var email=global.get(\"remail\")\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":660,"wires":[["d7318e80.affc08"]]},{"id":"d7318e80.affc08","type":"cloudant in","z":"5aa0bd02.2e4484","name":"","cloudant":"","database":"recruiter_sign_in","service":"node-red-xrtra-cloudant-1591796663434-58838","search":"_id_","design":"","index":"","x":610,"y":660,"wires":[["174a1924.92a657"]]},{"id":"174a1924.92a657","type":"function","z":"5aa0bd02.2e4484","name":"","func":"var pwd=global.get(\"rpwd\");\nif(msg.payload.password==pwd){\n    msg.payload=\"login success \"\n}\nelse{\n    msg.payload=\"invalid login\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":660,"wires":[["8e98c.78272e748"]]},{"id":"8e98c.78272e748","type":"ui_text","z":"5aa0bd02.2e4484","group":"f568697e.e98298","order":1,"width":0,"height":0,"name":"","label":"Log In Status","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":720,"wires":[]},{"id":"913760bd.22192","type":"ui_group","z":"","name":"Log in","tab":"df37fe85.99e148","order":1,"disp":true,"width":"6","collapse":false},{"id":"f568697e.e98298","type":"ui_group","z":"","name":"Log in","tab":"3ce54cb1.b8419c","order":1,"disp":true,"width":"6","collapse":false},{"id":"df37fe85.99e148","type":"ui_tab","z":"","name":"recruiter log in","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ce54cb1.b8419c","type":"ui_tab","z":"","name":"Log in","icon":"dashboard","disabled":false,"hidden":false}]